@import url('../vendor/normalize.css');

@font-face {
    font-family: 'Cabinet Grotesk';
    src: url(../vendor/fonts/CabinetGrotesk-Medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: 'Cabinet Grotesk';
    src: url(../vendor/fonts/CabinetGrotesk-Bold.woff);
    font-weight: 700;
}