.header {
  display: flex;
  justify-content: space-between;
  font-family: "Cabinet Grotesk", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.header__time{
  align-self: flex-end;
}
.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.header__button {
  font-family: "Cabinet Grotesk", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: transparent;
  border: none;
}

.header__btn-user{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.header__button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header__avatar {
  width: 40px;
  height: 40px;
}

.header__link:link, .header__link:visited{
  text-decoration: none;
  color: #000;
}
