.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_is-opened {
  visibility: visible;
}

.modal__content {
  font-family: "Cabinet Grotesk", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 28px 28px 36px;
  width: 496px;
  border-radius: 20px;
}

.modal__title {
  margin: 0 0 24px 0;
  font-size: 16px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background-color: transparent;
}

.modal__label {
  margin: 0;
}

.modal__input {
  width: 100%;
  display: block;
  margin: 8px 0 24px 0;
  padding: 0;
  border: none;
  border-bottom: 1px #000 solid;
}

.modal__input:focus {
  outline: none;
}

.modal__radio-btns {
  border: none;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  margin: 0 0 32px 0;
}

.modal__radio-lgd {
  margin: 0;
  padding: 0 0 12px 0;
}

.modal__label_type_radio {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0;
}

.modal__submit-btn {
  max-width: 124px;
  height: 36px;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  border: none;
}

.modal__submit-btn:disabled {
  background-color: #0000004d;
  cursor: not-allowed;
}

.modal__submit-btn:not(:disabled):hover {
  cursor: pointer;
  background-color: #00000099;
}

.modal__content_type_image {
  width: 498px;
  padding: 0;
  border-radius: 16px;
}

.modal__content_type_image > .modal__image {
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-bottom: 20px;
}

.modal__footer {
  margin: 0 0 32px 32px;
  font-family: "Cabinet Grotesk", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
}

.modal__del-btn {
  font-family: "Cabinet Grotesk", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  align-self: flex-start;
  margin: 0;
  padding: 2px 34px 0 0;
  color: #ff4d00;
  border: none;
  background-color: transparent;
}

.modal__caption {
  margin: 0 0 12px 0;
  padding: 5px 0;
}

.modal__weather {
  margin: 0;
  padding: 5px 0;
}

.modal__del-top {
  text-align: center;
  margin-bottom: 0;
}

.modal__content_type_delete {
  font-family: "Cabinet Grotesk", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 28px 28px 0 28px;
}

.modal__del-span {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}

.modal__del-mdl {
  margin-bottom: 24px;
  color: #ff4d00;
  border: none;
  background-color: transparent;
}

.modal__del-btm {
  margin-bottom: 60px;
  border: none;
  background-color: transparent;
}

.modal__validation {
  color: #ff4d00;
}
